html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#main {
  margin: 30px 10px;
  padding: 30px 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
#header {
  margin-bottom: 30px;
}
#title {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#description {
  margin-left: 70px;
  margin-right: 50px;
  line-height: 24px;
  text-align: center;
}

#img-div {
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

#img-caption {
  padding-bottom: 20px;
}

#tribute-info {
  max-width: 700px;
  padding-top: 50px;
  margin: auto;
}

#early-life,
#contributions,
#presidency,
#awards,
#philosophy,
#legacy,
#remember {
  margin-bottom: 40px;
}

#sub-title {
  font-weight: bold;
  font-size: 1.3em;
}

#side-heading {
  font-weight: bold;
}

#early-life li,
#contributions li,
#presidency li,
#awards li {
  line-height: 30px;
  margin-bottom: 10px;
}

#presidency p,
#philosophy p,
#legacy p,
#remember p {
  line-height: 30px;
  margin-bottom: 10px;
}

#quotations {
  font-style: italic;
  margin-left: 30px;
}

#footer {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 50px;
}
